<div class="col-lg-4 mx-auto">
<form (submit)="UploadPhoto(titulo, description)">
    <div class="card">
        <div class="card-header">Photo Uploader</div>

                                <div class="card-body">
                              <div class="form-group">
                            <label for="">Titulo</label>
                          <input #titulo type="text" class="form-control">   
                         </div>
                            <div class="form-group">
                             <label for="">Description</label>
                          <input #description type="text" class="form-control">
                              </div>
                        <div class="form-group">
                            <label for="">Upload image</label> 
                            <input type="file" class="d-none" (change)="onPhotoSelected($event)"#Photoinput>

                            <img class="img-fluid" [src]="photoSelected ||'assets/no-photo.png'" (click)="Photoinput.click"/> 
                        <button class="btn btn-primary btn-block">Upload</button>
                        </div>   
                    </div>
                </div>
            

</form>
</div>